@import "tailwindcss";

:root {
  --background: #a1a1a1;
  --foreground: #a1a1a1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #a1a1a1;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 475px) {
  .xs\:w-7 {
    width: 1.75rem;
  }
  .xs\:h-9 {
    height: 2.25rem;
  }
  .xs\:w-9 {
    width: 2.25rem;
  }
  .xs\:h-9 {
    height: 2.25rem;
  }
}

.primary-color{
  @apply bg-white;
}

.secondary-color {
  @apply bg-[#f95959];
}

.dashed-circle {
  position: relative;
  display: block;
  margin: 10px auto;
  width: 40px;
  height: 40px;
  border: 7px dashed white;
  border-radius: 50%;
  line-height: 10px;
  text-align: center;
  font-family: Helvetica;
  color: white;
}
.dashed-circle:before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -8px;
  border-radius: 50%;
  background: red;
  content: '';
}
.dashed-circle:after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 2px;
  border: 1px dashed white;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.4);
  content: '';
}